<div class="b-branding--default" data-js-component="Branding" data-css="b-branding">
    <a href="#" data-js-item="link" class="branding__link">
        <!--<img src="{{brand.figurativemark.sourceimage}}" data-js-item="figurativemark" class="branding__figurativemark" alt="{{brand.figurativemark.altText}}" />-->
        <h2 class="branding__wordmark" data-js-item="wordmark">{{brand.wordmark}}</h2>
    </a>
    <h1 class="branding__headline">{{{brand.headline}}}</h1>
    <h4 class="branding__slogan">{{{brand.slogan}}}</h4>
</div>